name: Xcode - Build and Analyze

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: Build
        run: |
          xcodebuild build-without-testing \
            -project ZabbixMenuBar.xcodeproj \
            -scheme ZabbixMenuBar \
            -destination 'platform=macOS' \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            DEVELOPMENT_TEAM=""

      - name: Analyze
        run: |
          xcodebuild analyze \
            -project ZabbixMenuBar.xcodeproj \
            -scheme ZabbixMenuBar \
            -destination 'platform=macOS' \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            DEVELOPMENT_TEAM=""
