name: Xcode - Build and Analyze

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Show Xcode Version
        run: xcodebuild -version

      - name: Build
        run: |
          xcodebuild build-without-testing \
            -project ZabbixMenuBar.xcodeproj \
            -scheme ZabbixMenuBar \
            -destination 'platform=macOS' \
            -skipPackagePluginValidation \
            -skipMacroValidation \
            CODE_SIGN_IDENTITY="-" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            DEVELOPMENT_TEAM="" \
            PROVISIONING_PROFILE_SPECIFIER="" \
            CODE_SIGN_ENTITLEMENTS="" \
            PRODUCT_BUNDLE_IDENTIFIER="com.ci.zabbixmenubar"

      - name: Analyze
        run: |
          xcodebuild analyze \
            -project ZabbixMenuBar.xcodeproj \
            -scheme ZabbixMenuBar \
            -destination 'platform=macOS' \
            -skipPackagePluginValidation \
            -skipMacroValidation \
            CODE_SIGN_IDENTITY="-" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            DEVELOPMENT_TEAM="" \
            PROVISIONING_PROFILE_SPECIFIER="" \
            CODE_SIGN_ENTITLEMENTS="" \
            PRODUCT_BUNDLE_IDENTIFIER="com.ci.zabbixmenubar"
